[MASTER]
extension-pkg-whitelist=lxml,posix_ipc,spidev,netifaces
ignore=migrations
ignore-patterns=.*_pb2.py

[MESSAGES CONTROL]
disable=
    arguments-differ,
    attribute-defined-outside-init,
    cyclic-import,
    duplicate-code,
    fixme,
    file-ignored,
    import-outside-toplevel,
    invalid-name,
    missing-docstring,
    no-member,
    protected-access,
    superfluous-parens,
    too-few-public-methods,
    too-many-ancestors,
    too-many-arguments,
    too-many-branches,
    too-many-instance-attributes,
    too-many-lines,
    too-many-locals,
    too-many-public-methods,
    too-many-statements,
    ungrouped-imports,
    unused-argument,
    useless-return,
    wrong-import-order  # we have a custom isort config which pylint can't grok

[REPORTS]
msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"

[FORMAT]
max-line-length=120