name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]
        version: [19.3.8, 18.14.9]

    services:
      clickhouse:
        image: yandex/clickhouse-server:${{ matrix.version }}
        ports:
          - 9000:9000
          - 8123:8123
        options: --ulimit nofile=262144:262144

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip "setuptools==58.5.3"
        pip install flake8 flake8-print coveralls

    - name: Override setup.cfg
      run: sed -i 's/^host=localhost$/host=clickhouse-server/' setup.cfg

    - name: Update /etc/hosts
      run: echo '127.0.0.1 clickhouse-server' | sudo tee -a /etc/hosts

    - name: Lint with flake8
      run: flake8

    - name: Test with coverage
      run: coverage run --source=clickhouse_sqlalchemy setup.py test

    - name: Coveralls
      env:
        COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
      run: coveralls
