
name: Django CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.8']
        django-version: ['2.2', '3.0', 'main']
        include:
          - python-version: '3.8'
            toxenv: docs
          - python-version: '3.8'
            toxenv: quality
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox tox-travis
      - name: Run tests
        env:
          TOXENV: ${{ matrix.toxenv }}
          DJANGO: ${{ matrix.django-version }}
        run: tox