name: Python package

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.9,3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python setup.py --quiet install
    - name: Run tests
      run: |
        python test_docformatter.py
        docformatter setup.py
    - name: Coverage
      run: |
        pip install --quiet coverage
        make coverage
        pip install --quiet coveralls
        coveralls
      env: 
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}