name: Python application

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        python-version: [3.7,3.8]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        if [[ ${{ matrix.python-version }} == 2* ]]; then pip install -r py2_requirements.txt; fi
        if [[ ${{ matrix.python-version }} == 3* ]]; then pip install -r py3_requirements.txt; fi

    - name: Run tests
      run: make test
