
name: CI

on:
  push:
    branches-ignore:
      - /^dependabot/.*/
  pull_request:
    branches-ignore:
      - /^dependabot/.*/

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: [3.8, pypy-3.8]
        include:
          - python-version: 3.8
            env: OLD_CRYPTOGRAPHY=3.8.1

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        if [ -n "${{ matrix.env.OLD_CRYPTOGRAPHY }}" ]; then
          pip install cryptography==${{ matrix.env.OLD_CRYPTOGRAPHY }}
        fi
    - name: Run script
      run: ./ci.sh