name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-20.04

    strategy:
      fail-fast: false
      matrix:
        python-version: [3.5, 3.6, 3.7, 3.8, 3.9]
        toxenv: 
          - py36-django30
          - py37-django30
          - py38-django30
          - py39-django30
          - py36-django31
          - py37-django31
          - py38-django31
          - py39-django31

    defaults:
      runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          pip install tox

      - name: Run tests
        run: |
          tox -e ${{ matrix.toxenv }}

      - name: Allow failures for specific environments
        if: startsWith(matrix.toxenv, 'py') && endsWith(matrix.toxenv, 'djangomain')
        run: echo "This job is allowed to fail."