name: Python package

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7, 3.8, 3.9, 3.10]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
 # Only used when matrix.python-version is pypy-3.7-v7.3.5
    - name: Install dependencies
      run: |
        if [ "${{ matrix.python-version }}" == "pypy-3.7-v7.3.5" ]; then
          pip install --extra-index-url https://antocuni.github.io/pypy-wheels/manylinux2010 cryptography==3.3.1
        fi
        pip install .
        pip install -r requirements-dev.txt
        rm -rf build/
    - name: Run tests
      run: |
        chmod +x ./script/test
        ./script/test -vv