name: Test with Django and Python
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:10
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: testdb
        options: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    env:
      IMPORT_EXPORT_POSTGRESQL_USER: postgres
      IMPORT_EXPORT_POSTGRESQL_PASSWORD: ''
      IMPORT_EXPORT_MYSQL_USER: root
      IMPORT_EXPORT_MYSQL_PASSWORD: ''
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.6', '3.7', '3.8', '3.9']
        django-version: ['Django==2.2.*', 'Django==3.0.*', 'Django==3.1.*', 'Django==3.2.*', 'https://github.com/django/django/archive/main.tar.gz']
        test-type: ['postgres', 'mysql-innodb', 'sqlite']
        include:
          - python-version: '3.9'
            django-version: 'https://github.com/django/django/archive/main.tar.gz'
            test-type: 'postgres'
          - python-version: '3.9'
            django-version: 'https://github.com/django/django/archive/main.tar.gz'
            test-type: 'mysql-innodb'
          - python-version: '3.9'
            django-version: 'https://github.com/django/django/archive/main.tar.gz'
            test-type: 'sqlite'
          - python-version: '3.8'
            django-version: 'https://github.com/django/django/archive/main.tar.gz'
            test-type: 'postgres'
          - python-version: '3.8'
            django-version: 'https://github.com/django/django/archive/main.tar.gz'
            test-type: 'mysql-innodb'
          - python-version: '3.8'
            django-version: 'https://github.com/django/django/archive/main.tar.gz'
            test-type: 'sqlite'
          - python-version: '3.7'
            django-version: 'Django==2.1.*'
            test-type: 'postgres'
          - python-version: '3.7'
            django-version: 'Django==2.1.*'
            test-type: 'mysql-innodb'
          - python-version: '3.7'
            django-version: 'Django==2.1.*'
            test-type: 'sqlite'
          - python-version: '3.6'
            django-version: 'Django==2.1.*'
            test-type: 'postgres'
          - python-version: '3.6'
            django-version: 'Django==2.1.*'
            test-type: 'mysql-innodb'
          - python-version: '3.6'
            django-version: 'Django==2.1.*'
            test-type: 'sqlite'
          - python-version: '3.7'
            django-version: 'Django==2.0.*'
            test-type: 'postgres'
          - python-version: '3.7'
            django-version: 'Django==2.0.*'
            test-type: 'mysql-innodb'
          - python-version: '3.7'
            django-version: 'Django==2.0.*'
            test-type: 'sqlite'
          - python-version: '3.6'
            django-version: 'Django==2.0.*'
            test-type: 'postgres'
          - python-version: '3.6'
            django-version: 'Django==2.0.*'
            test-type: 'mysql-innodb'
          - python-version: '3.6'
            django-version: 'Django==2.0.*'
            test-type: 'sqlite'
       

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Cache pip
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ matrix.python-version }}-pip-${{ hashFiles('requirements/*.txt') }}

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ${{ matrix.django-version }}
          pip install -r requirements/base.txt
          pip install -r requirements/test.txt
          pip install coveralls

      - name: Run tests
        run: |
          PYTHONPATH=".:tests:${{ env.PYTHONPATH }}" python -Wall -m coverage run --omit='setup.py' --source=. tests/manage.py test core --settings=
          if python -c 'import sys; sys.exit(1 - (sys.version_info >= (3, 6)))'; then isort --check-only import_export tests; fi

      - name: Upload coverage to coveralls
        run: coveralls
