name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.6
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        pip install -r requirements-dev.txt
        pip install -e .

    - name: Run pytest
      run: pytest pywnedpasswords/tests/

    - name: Run flake8
      run: flake8 pywnedpasswords

    - name: Run black
      run: black --safe --check