name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
        
    - name: Set up Miniconda
      run: |
        wget https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh -O $HOME/miniconda.sh
        bash $HOME/miniconda.sh -b -u -p $HOME/miniconda
        echo "$HOME/miniconda/bin" >> $GITHUB_PATH

    - name: Install dependencies
      run: |
        pip install nose coverage coveralls flake8 scikit-image
        pip install -e .

    - name: Run flake8
      run: flake8

    - name: Run tests
      run: nosetests -sv --with-doctest --no-byte-compile --with-coverage --cover-package=tftb

    - name: Upload coverage to Coveralls
      run: coveralls