name: Python CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9, 3.10]
      fail-fast: false

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          pip install coverage vcrpy
          python setup.py install

      - name: Run tests
        run: |
          coverage run --source=censusgeocode -m unittest
          censusgeocode --version
          censusgeocode --csv tests/fixtures/batch.csv || echo failed

      - name: Coverage report
        if: success()
        run: coverage report