name: Python CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          pip install -U pip wheel coverage codecov
          pip install -r requirements.txt pytest pytest-mock
          python setup.py develop

      - name: Run tests with coverage
        run: |
          coverage run -m pytest -v tests/
          codecov

      - name: Cache pip
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-