name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install doc8 sphinx
          pip install git+https://github.com/osrf/sphinx-tabs
          pip install sphinx_multiversion

      - name: Build HTML
        run: |
          make html 2> stderr.log
          cat stderr.log
          doc8 --ignore D001 --ignore-path build --ignore-path source/Tutorials/Actions
          doc8 --ignore D000 --ignore D001 --ignore-path build source/Tutorials/Actions
          if [ -s "stderr.log" ]; then exit 1; fi