name: Python package

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    - name: Install dependencies
      run: |
        sudo apt-get update -qq
        sudo apt-get install -qq libhdf5-serial-dev
        python -m pip install --upgrade pip setuptools wheel virtualenv
        pip install tox tox-gh-actions codecov

    - name: Run tests
      run: tox

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1