name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        python-version: [3.8]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install bandit flake8 coveralls coverage liccheck wheel
        pip install -r requirements.txt
        python setup.py bdist_wheel
        pip install dist/feedgen*

    - name: Run tests
      run: make test

    - name: Check licenses
      run: liccheck -s .licenses.ini

    - name: Run feedgen
      run: |
        python -m feedgen
        python -m feedgen atom
        python -m feedgen rss

    - name: Coveralls
      if: success()
      run: coveralls