name: Python CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.6, 3.7, 3.8]
        django-version: [django21, django22, django30, django31]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          pip install tox coverage

      - name: Run tests
        env:
          TOX_ENV: ${{ format('py{0}-{1}', matrix.python-version.replace('.', ''), matrix.django-version) }}
        run: |
          tox -r -e "$TOX_ENV"

      - name: Upload coverage to Codecov
        if: success()
        run: bash <(curl -s https://codecov.io/bash)