name: Python package

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: [3.8, 3.9]
        h5py-version: ['==3.8', '==2.10', '==3.0', '==3.1']
        exclude:
          - python-version: 3.8
            h5py-version: '==3.0'
          - python-version: 3.8
            h5py-version: '==3.1'
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y gcc libhdf5-serial-dev libblas-dev liblapack-dev libatlas-base-dev libquadmath0
        python -m pip install --upgrade pip
        pip install -U numpy Cython
        pip install h5py${{ matrix.h5py-version }}
        pip install -r requirements_tests.txt
        pip install .
        pip install -e examples/example_hdf5storage_marshaller_plugin
    - name: Test with pytest
      run: |
        pytest

  build-ppc64le:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y gcc libhdf5-serial-dev libblas-dev liblapack-dev libatlas-base-dev libquadmath0
        python -m pip install --upgrade pip
        pip install -U numpy Cython
        pip install h5py
        pip install -r requirements_tests.txt
        pip install .
        pip install -e examples/example_hdf5storage_marshaller_plugin
    - name: Test with pytest
      run: |
        pytest
