name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: [3.5, 3.7, 3.9]
        h5py-version: ["==2.6", "==2.10", "==3.0", "==3.1"]
        exclude:
          - python-version: 3.5
            h5py-version: "==3.0"
          - python-version: 3.5
            h5py-version: "==3.1"
          - python-version: 3.9
            h5py-version: "==2.10"
            arch: ppc64le

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc libhdf5-serial-dev libblas-dev liblapack-dev libatlas-base-dev libquadmath0

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Install dependencies
        run: |
          pip install -U numpy Cython
          pip install h5py${{ matrix.h5py-version }}
          pip install -r requirements_tests.txt
          pip install .
          pip install -e examples/example_hdf5storage_marshaller_plugin

      - name: Run tests
        run: pytest